Source: pim-storage-service-manager
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           Michael Meskes <meskes@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.19.0~),
               libassuan-dev,
               libboost-dev (>= 1.40.0-2),
               libboost-graph-dev (>= 1.40.0-2),
               libkf5archive-dev (>= 5.19.0~),
               libkf5auth-dev (>= 5.19.0~),
               libkf5codecs-dev (>= 5.19.0~),
               libkf5completion-dev (>= 5.16.0~),
               libkf5config-dev (>= 5.19.0~),
               libkf5coreaddons-dev (>= 5.16.0~),
               libkf5crash-dev (>= 5.19.0~),
               libkf5dbusaddons-dev (>= 5.19.0~),
               libkf5dnssd-dev (>= 5.19.0~),
               libkf5doctools-dev (>= 5.19.0~),
               libkf5globalaccel-dev (>= 5.19.0~),
               libkf5i18n-dev (>= 5.16.0~),
               libkf5iconthemes-dev (>= 5.16.0~),
               libkf5itemviews-dev (>= 5.16.0~),
               libkf5kcmutils-dev (>= 5.19.0~),
               libkf5kdelibs4support-dev (>= 5.19.0~),
               libkf5khtml-dev (>= 5.16.0~),
               libkf5libkdepim-dev (>= 5.2.0~),
               libkf5newstuff-dev (>= 5.19.0~),
               libkf5notifyconfig-dev (>= 5.19.0~),
               libkf5pimcommon-dev (>= 5.2.0~),
               libkf5pimtextedit-dev (>= 15.12~),
               libkf5service-dev (>= 5.19.0~),
               libkf5sonnet-dev (>= 5.19.0~),
               libkf5templateparser-dev,
               libkf5texteditor-dev (>= 5.19.0~),
               libkf5textwidgets-dev (>= 5.16.0~),
               libkf5wallet-dev (>= 5.19.0~),
               libkf5webengineviewer-dev,
               libkf5webkit-dev (>= 5.19.0~),
               libkf5widgetsaddons-dev (>= 5.16.0~),
               libkf5windowsystem-dev (>= 5.16.0~),
               libkf5xmlgui-dev (>= 5.16.0~),
               libkf5xmlrpcclient-dev (>= 5.2.0~),
               libphonon4qt5-dev,
               libphonon4qt5experimental-dev,
               libqt5opengl5-dev (>= 5.5.0~),
               libqt5webchannel-dev,
               libqt5webengine5-dev,
               libqt5webkit5-dev (>= 5.5.0~),
               libqt5x11extras5-dev (>= 5.4.0~),
               libx11-dev,
               pkg-config,
               pkg-kde-tools (>= 0.12),
               qtbase5-dev (>= 5.5.0~),
               qtdeclarative5-dev (>= 5.4.0~),
               qttools5-dev (>= 5.5.0~),
               shared-mime-info,
               xsltproc,
               zlib1g-dev
Standards-Version: 3.9.8
Homepage: http://pim.kde.org/
Vcs-Browser: https://anonscm.debian.org/git/pkg-kde/applications/pim-storage-service-manager.git
Vcs-Git: https://anonscm.debian.org/git/pkg-kde/applications/pim-storage-service-manager.git

Package: storageservicemanager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KDE PIM storage service
 This package adds storage plugins for KDE PIM applications such as
 google-drive and dropbox.
 .
 This package is part of KDE, and a component of the KDE PIM module.
