Source: kdepim
Section: kde
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Sune Vuorela <sune@debian.org>,
           Fathi Boudra <fabo@debian.org>,
           Modestas Vainius <modax@debian.org>,
           Michael Meskes <meskes@debian.org>,
           George Kiagiadakis <kiagiadakis.george@gmail.com>,
           Eshat Cakar <info@eshat.de>,
           Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake (>= 2.8.12~),
               debhelper (>= 9),
               extra-cmake-modules (>= 5.16.0~),
               kdoctools-dev,
               kross-dev (>= 5.16.0~),
               libassuan-dev,
               libboost-dev (>= 1.40.0-2),
               libboost-graph-dev (>= 1.40.0-2),
               libgpgme11-dev,
               libgrantlee5-dev (>= 5.0.0~),
               libkf5akonadi-dev (>= 5.1~),
               libkf5akonadicalendar-dev (>= 4.80.0~),
               libkf5akonadicontact-dev (>= 5.1~),
               libkf5akonadimime-dev (>= 5.1~),
               libkf5akonadinotes-dev (>= 4.78.0~),
               libkf5akonadisearch-dev (>= 5.0.42~),
               libkf5akonadiserver-dev (>= 5.1.51~),
               libkf5alarmcalendar-dev (>= 4.78.0~),
               libkf5archive-dev (>= 5.16.0~),
               libkf5auth-dev (>= 5.16.0~),
               libkf5blog-dev (>= 4.80.0~),
               libkf5calendarcore-dev (>= 4.81.0~),
               libkf5calendarutils-dev (>= 4.80.0~),
               libkf5codecs-dev (>= 5.16.0~),
               libkf5completion-dev (>= 5.16.0~),
               libkf5config-dev (>= 5.16.0~),
               libkf5contacts-dev (>= 4.92.0~),
               libkf5coreaddons-dev (>= 5.16.0~),
               libkf5dbusaddons-dev (>= 5.16.0~),
               libkf5dnssd-dev (>= 5.16.0~),
               libkf5gapi-dev (>= 4.72.0~),
               libkf5globalaccel-dev (>= 5.16.0~),
               libkf5gpgmepp-dev (>= 4.80.0~),
               libkf5holidays-dev (>= 4.80.0~),
               libkf5i18n-dev (>= 5.16.0~),
               libkf5iconthemes-dev (>= 5.16.0~),
               libkf5identitymanagement-dev (>= 4.82.0~),
               libkf5imap-dev (>= 4.78.0~),
               libkf5itemviews-dev (>= 5.16.0~),
               libkf5kcmutils-dev (>= 5.16.0~),
               libkf5kdelibs4support-dev (>= 5.16.0~),
               libkf5khtml-dev (>= 5.16.0~),
               libkf5kontactinterface-dev (>= 4.82.0~),
               libkf5ldap-dev (>= 4.80.0~),
               libkf5mailtransport-dev (>= 4.78.0~),
               libkf5mbox-dev (>= 4.78.0~),
               libkf5mime-dev (>= 4.87.0~),
               libkf5newstuff-dev (>= 5.16.0~),
               libkf5notifyconfig-dev (>= 5.16.0~),
               libkf5pimtextedit-dev (>= 4.91.0~),
               libkf5service-dev (>= 5.16.0~),
               libkf5sonnet-dev (>= 5.16.0~),
               libkf5syndication-dev (>= 4.78.0~),
               libkf5texteditor-dev (>= 5.16.0~),
               libkf5textwidgets-dev (>= 5.16.0~),
               libkf5tnef-dev (>= 4.78.0~),
               libkf5wallet-dev (>= 5.16.0~),
               libkf5webkit-dev (>= 5.16.0~),
               libkf5widgetsaddons-dev (>= 5.16.0~),
               libkf5windowsystem-dev (>= 5.16.0~),
               libkf5xmlgui-dev (>= 5.16.0~),
               libkf5xmlrpcclient-dev (>= 4.78.0~),
               liblink-grammar4-dev,
               libphonon4qt5-dev,
               libphonon4qt5experimental-dev,
               libqt5opengl5-dev (>= 5.4.0~),
               libqt5webkit5-dev (>= 5.4.0~),
               libqt5x11extras5-dev (>= 5.4.0~),
               pkg-config,
               pkg-kde-tools (>= 0.12),
               qtbase5-dev (>= 5.4.0~),
               qtdeclarative5-dev (>= 5.4.0~),
               qtquick1-5-dev (>= 5.4.0~),
               qttools5-dev (>= 5.4.0~),
               shared-mime-info,
               xsltproc,
               zlib1g-dev
Build-Depends-Indep: dblatex
Standards-Version: 3.9.6
Homepage: http://pim.kde.org/
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-kde/applications/kdepim.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/applications/kdepim.git

Package: kdepim
Section: metapackages
Architecture: all
Depends: accountwizard (>= ${source:Version}),
         akonadiconsole (>= ${source:Version}),
         akregator (>= ${source:Version}),
         blogilo (>= ${source:Version}),
         kaddressbook (>= ${source:Version}),
         kalarm (>= ${source:Version}),
         kdepim-runtime,
         kleopatra (>= ${source:Version}),
         kmail (>= ${source:Version}),
         knotes (>= ${source:Version}),
         konsolekalendar (>= ${source:Version}),
         kontact (>= ${source:Version}),
         korganizer (>= ${source:Version}),
         ${misc:Depends}
Recommends: kdepim-doc
Description: Personal Information Management apps from the official KDE release
 KDE (the K Desktop Environment) is a powerful Open Source graphical
 desktop environment for Unix workstations. It combines ease of use,
 contemporary functionality, and outstanding graphical design with the
 technological superiority of the Unix operating system.
 .
 This metapackage includes a collection of Personal Information Management
 (PIM) desktop applications provided with the official release of KDE.

Package: kdepim-doc
Section: doc
Architecture: all
Suggests: doc-base, konqueror | www-browser
Breaks: akregator (<< 4:4.14.3),
        blogilo (<< 4:4.14.3),
        kaddressbook (<< 4:4.14.3),
        kalarm (<< 4:4.14.3),
        kjots (<< 4:4.14.3),
        kleopatra (<< 4:4.14.3),
        kmail (<< 4:4.14.3),
        knode (<< 4:4.14.3),
        knotes (<< 4:4.14.3),
        konsolekalendar (<< 4:4.14.3),
        kontact (<< 4:4.14.3),
        korganizer (<< 4:4.14.3),
        ktimetracker (<< 4:4.14.3)
Replaces: akregator (<< 4:4.14.3),
          blogilo (<< 4:4.14.3),
          kaddressbook (<< 4:4.14.3),
          kalarm (<< 4:4.14.3),
          kjots (<< 4:4.14.3),
          kleopatra (<< 4:4.14.3),
          kmail (<< 4:4.14.3),
          knode (<< 4:4.14.3),
          knotes (<< 4:4.14.3),
          konsolekalendar (<< 4:4.14.3),
          kontact (<< 4:4.14.3),
          korganizer (<< 4:4.14.3),
          ktimetracker (<< 4:4.14.3)
Description: KDE Personal Information Management library documentation
 KDE core library documentation. You need this documentation to develop KDE PIM
 applications.
 .
 This package is part of KDE, and a component of the KDE PIM module.
 See the 'kde' and 'kdepim' packages for more information.

Package: akregator
Section: web
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${shlibs:Depends}
Breaks: kontact (<< 4:4.1.80)
Replaces: kontact (<< 4:4.1.80)
Homepage: http://akregator.kde.org/
Description: RSS/Atom feed aggregator
 Akregator is a news feed reader. It enables you to follow
 news sites, blogs and other RSS/Atom-enabled websites without the need to
 manually check for updates using a web browser. Akregator is designed to be
 both easy to use and to be powerful enough to read hundreds of news sources
 conveniently. It comes with Konqueror integration for adding news feeds and
 with an internal browser for easy news reading.
 .
 This package is part of the KDE PIM module.

Package: accountwizard
Section: utils
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${shlibs:Depends}
Breaks: kdepim-runtime (<< 4:15.07.90~)
Replaces: kdepim-runtime (<< 4:15.07.90~)
Description: wizard for KDE PIM applications account setup
 Handles account setup of e-mail accounts for KDE PIM applications.
 .
 This package is part of the KDE PIM module.

Package: kaddressbook
Section: utils
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${shlibs:Depends}
Breaks: kontact (<< 4:4.1.80), korganizer (<< 4:4.1.80)
Replaces: kontact (<< 4:4.1.80), korganizer (<< 4:4.1.80)
Description: address book and contact data manager
 KAddressBook enables you to manage your contacts efficiently and comfortably.
 It can load and save your contacts to many different locations, including
 the local file system, LDAP servers, and SQL databases.
 .
 This package is part of the KDE PIM module.

Package: kalarm
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Suggests: jovie
Homepage: http://www.astrojar.org.uk/kalarm/
Description: alarm message, command and email scheduler
 KAlarm provides a graphical interface to schedule personal timed events -
 pop-up alarm messages, command execution and sending emails. There is a
 range of options for configuring recurring events.
 .
 A pop-up alarm can show either a simple text message, or the contents of a
 text or image file. It can optionally be spoken, or play a sound file. You
 can choose its appearance, and set reminders. Among KAlarm's other
 facilities, you can set up templates to allow KAlarm to be used as a 'tea
 timer'.
 .
 This package is part of the KDE PIM module.

Package: storageservicemanager
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KDE PIM storage service
 This package adds storage plugins for KDE PIM applications such as
 google-drive and dropbox.
 .
 This package is part of KDE, and a component of the KDE PIM module.

Package: kleopatra
Section: net
Architecture: any
Depends: dirmngr,
         gnupg-agent,
         gnupg2,
         gpgsm,
         kdepim-runtime,
         pinentry-qt4 | pinentry-x11,
         ${misc:Depends},
         ${shlibs:Depends}
Description: certificate Manager
 Kleopatra is a tool for managing X.509 certificates and pgp keys.
 .
 This package is part of the KDE PIM module.

Package: kmail
Section: mail
Architecture: any
Depends: ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Recommends: accountwizard,
            gnupg-agent,
            gnupg2,
            kdepim-doc,
            kdepim-themeditors,
            ktnef,
            pinentry-qt4 | pinentry-x11
Suggests: clamav,
          kaddressbook,
          kleopatra,
          procmail,
          spamassassin | bogofilter | spambayes (>= 1.0.4-6) | bsfilter | crm114
Breaks: libkdepim4 (<< 4:4.13.90), libmessageviewer4 (<< 4:4.13.90)
Replaces: libkdepim4 (<< 4:4.13.90), libmessageviewer4 (<< 4:4.13.90)
Provides: imap-client, mail-reader
Homepage: http://kontact.kde.org/kmail/
Description: full featured graphical email client
 KMail supports multiple accounts, mail filtering and email encryption.
 The program let you configure your workflow and it has good integration into
 KDE (Plasma Desktop) but is also useable with other Desktop Envionments.
 .
 This package is part of the KDE PIM module.

Package: knotes
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${shlibs:Depends}
Breaks: knode (<< 4:4.14.5)
Replaces: knode (<< 4:4.14.5)
Description: sticky notes application
 KNotes is a program that lets you write sticky notes. The notes are saved
 automatically when you exit the program, and they display when you open the
 program.  The program supports printing and mailing your notes.
 .
 This package is part of the KDE PIM module.

Package: konsolekalendar
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${shlibs:Depends}
Description: konsole personal organizer
 KonsoleKalendar is a command-line interface to KDE calendars.
 KonsoleKalendar complements KOrganizer by providing a console
 frontend to manage your calendars.
 .
 This package is part of the KDE PIM module.

Package: kontact
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${shlibs:Depends}
Recommends: accountwizard, akregator, kaddressbook, kmail, knotes, korganizer
Suggests: gnokii
Homepage: http://kontact.kde.org/
Description: integrated application for personal information management
 Kontact is the integrated solution to your personal information management
 needs. It combines applications like KMail, KOrganizer and
 KAddressBook into a single interface to provide easy access to mail,
 scheduling, address book and other PIM functionality.
 .
 This package is part of the KDE PIM module.

Package: korganizer
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${perl:Depends}, ${shlibs:Depends}
Recommends: kdepim-doc
Homepage: http://kontact.kde.org/korganizer/
Breaks: kontact (<< 4:4.13.3-2), libkdepim4
Replaces: kontact (<< 4:4.13.3-2), libkdepim4
Description: calendar and personal organizer
 This package contains KOrganizer, a calendar and scheduling program.
 .
 KOrganizer aims to be a complete program for organizing appointments,
 contacts, projects, etc. KOrganizer natively supports information interchange
 with other calendar applications, through the industry standard vCalendar
 personal data interchange file format. This eases the move from other
 modern PIMs to KOrganizer.
 .
 This package is part of the KDE PIM module.

Package: libkf5calendarsupport5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: calendar support library
 This library defines calendar related model objects for KDE PIM module
 applications and provides a common interface for accessing and managing
 calendars provided by Akonadi resources.
 .
 This package is part of the KDE PIM module.

Package: libkf5composereditorng5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libcomposereditorng5
Replaces: libcomposereditorng5
Description: compose editor library
 This package is part of the KDE PIM module.

Package: libkf5eventviews5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: event viewing library
 This internal library implements a GUI framework for viewing various calendar
 events in agenda, list, month view or timeline fashion.
 .
 This package is part of the KDE PIM module.

Package: libkf5incidenceeditorsng5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: incidence editors library
 This library implements GUI components for incidence (including but not
 limited to alarms, attendances, free-busy etc.) editing. These GUI components
 are widely used in various KDE PIM applications.
 .
 This package is part of the KDE PIM module.

Package: libkf5gravatar5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: gravatar library
 This internal library is a brigde for using the gravatar service from KDE PIM
 applications.
 .
 This package is part of the KDE PIM module.

Package: libkf5pimcommon5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: library for common bits of KDEPIM
 This internal library is for sharing some common bits between
 the applications in KDEPIM

Package: libkf5libkdepim5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kaddressbook (<< 4:4.13.90), libkdepim4 (<< 4:15.07.90), libkdepim5
Replaces: kaddressbook (<< 4:4.13.90), libkdepim4 (<< 4:15.07.90), libkdepim5
Description: KDE PIM library
 This is the internal runtime package for applications from the KDE PIM module.
 It contains shared libraries and data which most of KDE PIM applications use.
 .
 This package is part of the KDE PIM module.

Package: libkf5kdepimdbusinterfaces5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KDE PIM D-Bus interfaces library
 This internal library implements handling of D-Bus interfaces shared among
 some of the KDE PIM applications.
 .
 This package is part of the KDE PIM module.

Package: libkf5kdgantt2-5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Gantt chart library
 This library implements Gantt chart drawing functionality. It allows to easily
 embed the Gantt charts into the application as long as it is capable of
 drawing QWidget or QGraphicsView objects.
 .
 This package is part of the KDE PIM module.

Package: libkf5libkleo5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libkleo5
Replaces: libkleo5
Description: certificate based crypto library
 This package contains libkleo, a library for Kleopatra and other parts
 of KDE using certificate-based crypto.
 .
 This package is part of the KDE PIM module.

Package: libkf5ksieve5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Sieve, the mail filtering language, library
 This library implements a parser and lexer for Sieve, the mail filtering
 language (RFC 3028).
 .
 This package is part of the KDE PIM module.

Package: libkf5kmanagesieve5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Sieve script remote management library
 This library implements a subset of the protocol for remotely managing Sieve
 scripts (RFC 5804). Among other basic operations, it provides an easy to use
 API for listing, retrieving, deleting, activating and uploading of scripts to
 the remote Sieve script server.
 .
 This package is part of the KDE PIM module.

Package: libkf5ksieveui5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libksieveui5
Replaces: libksieveui5
Description: Sieve, the mail filtering language, GUI library
 This library implements GUI dialogs and elements which enable users to easily
 create, edit and manage their mail filters on the mail servers which support
 the Sieve language (RFC 3028) and the protocol for remotely managing Sieve
 scripts (RFC 5804).
 .
 This package is part of the KDE PIM module.

Package: libkf5mailcommon5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: email utility library
 This package contains common utility functions for dealing with email.
 .
 This package is part of KDE PIM module.

Package: libkf5mailimporter5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: mailimporter library
 This package contains a library for importing mails into KDE applicatiosn
 .
 This package is part of KDE PIM module.

Package: libkf5messagecomposer5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: message composer library
 This package contains the message composer library. It provides basic e-mail
 message composing facilities.
 .
 This package is part of KDE PIM module.

Package: libkf5messagecore5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: message core library
 This package contains the message core library. It provides basic e-mail
 message handling facilities.
 .
 This package is part the KDE PIM module.

Package: libkf5messagelist5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libmessagelist5
Replaces: libmessagelist5
Description: message list library
 This package contains the message list library. It provides a widget for the
 e-mail message lists with extensive filtering, grouping and useful features.
 .
 This package is part of the KDE PIM module.

Package: libkf5messageviewer5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: libmessageviewer5
Replaces: libmessageviewer5
Description: message viewer library
 This package contains the message viewer library which implements feature-rich
 and highly configurable widget for viewing e-mail messages.
 .
 This package is part of the KDE PIM module.

Package: libkf5sendlater5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: send later library
 This package is part of the KDE PIM module.

Package: libkf5followupreminder5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: follow up reminder library
 This package is part of the KDE PIM module.

Package: libkf5templateparser5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KMail template parser library
 This library implements a parser for the mail templates which KMail uses to
 enable customization of initial structure for the new, reply or forwarded
 messages.
 .
 This package is part of the KDE PIM module.

Package: blogilo
Section: web
Architecture: any
Depends: kdepim-runtime, libqt4-sql-sqlite, ${misc:Depends}, ${shlibs:Depends}
Description: graphical blogging client
 Blogilo is a Free/Open Source Blogging client, focused on simplicity and
 usability. Currently featured:
 .
  * A full featured WYSIWYG editor and an HTML editor.
  * Previewing your post with your blog style, like when you are visiting it at
    your blog.
  * Support for Blogger1.0, MetaWeblog, MovableType (Wordpress supports all of
    these) and Google GData (used on Blogspot.com blogs) APIs.
  * Support for creating/modifying/deleting posts.
  * Support for creating drafts and scheduled posts.
  * Support for uploading media files to your blog (only on supported APIs e.g.
    MetaWeblog and MovableType).
  * Support for fetching your recent blog entries.
  * Support for adding images to post from your system. It will upload them on
    Submitting post to blog (only on supported APIs e.g. MetaWeblog and
    MovableType).
  * Support for saving local entries before publishing.
  * Saving your writing copy to prevent data loss, at configurable intervals.
  * Internal auto spell checker. (KDE spell checker used so most of languages
    are supported.)
 .
 This package is part of the KDE PIM module.

Package: akonadiconsole
Section: utils
Architecture: any
Depends: kdepim-runtime, ${misc:Depends}, ${shlibs:Depends}
Breaks: akonadi-kde (<< 4:4.3.0), kdepim-runtime (<< 4:4.4.0)
Replaces: akonadi-kde (<< 4:4.3.0), kdepim-runtime (<< 4:4.4.0)
Description: management and debugging console for akonadi
 Akonadi Console is a useful utility that can be used to explore or manage
 Akonadi. Since this utility exposes Akonadi internals, it is very useful for
 debugging but may also prove handy in other cases.
 .
 This package is part of the KDE PIM module.

Package: libkf5noteshared5
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: notes support library
 This library defines notes related model objects for KDE PIM module
 applications and provides a common interface for accessing and managing
 notes provided by Akonadi resources.
 .
 This package is part of the KDE PIM module.

Package: ktnef
Section: kde
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kmail (<< 4:4.14.3)
Replaces: kmail (<< 4:4.14.3)
Description: Viewer for mail attachments using TNEF format
 The TNEF File Viewer allows one to handle easily mail attachments using
 the TNEF format. Those attachments are usually found in mails coming from
 Microsoft mail servers and embed the mail properties as well as the actual
 attachments.
 .
 An attachment in TNEF format is most often named winmail.dat or win.dat.
 .
 This package is part of the KDE PIM module.

Package: kdepim-themeeditors
Section: kde
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks: kaddressbook (<< 4:15), kmail (<< 4:4.14.3)
Replaces: kaddressbook (<< 4:15), kmail (<< 4:4.14.3)
Suggests: kaddressbook, kmail
Description: Theme Editors for KDE PIM applications
 KDE PIM Theme Editors allow you to create and edit various KDE themes for
 KDE PIM software such as KMail and KAddressBook.
 .
 This package is part of the KDE PIM module.
